<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicsample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="dm.audiostreamer.AudioStreamingService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="dm.audiostreamer.AudioStreamingReceiver">
            <intent-filter>
                <action android:name="dm.audiostreamer.close" />
                <action android:name="dm.audiostreamer.pause" />
                <action android:name="dm.audiostreamer.next" />
                <action android:name="dm.audiostreamer.play" />
                <action android:name="dm.audiostreamer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.preview.PreviewActivity"></activity>
        <activity
            android:name=".activity.mainActivity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>